.head{
    color: white;
    font-style: unset;
}
body{
    margin-left: 80px;
    background-color: #111110;
}
p{
    color: grey;
}
img{
    height: 50%;
    width: 20%;
    margin-left: 200px;
}
a{
    color: red;
}
h3{
    font-size: 18px;
}